<header class="mainhead">
    <section class="fixedhead">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <nav class="navbar navbar-expand-lg">
                        <a class="logobg wow fadeInDown" href="/"><img src="assets/images/logo.png" alt=""></a>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="resNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Showroom</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">For Studios and Resellers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">App</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="headRight">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"><i class="far fa-bars"></i></span>
                            </button>
                            <div class="respSec">
                                <select>
                                    <option>EN</option>
                                    <option>IND</option>
                                </select>
                                <button class="topLoginbtn">Login</button>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</header>