<section class="bannerSection" id="bannerid">
    <div class="video vidBg">
        
        <div class="mainBnrimg"><img src="assets/images/banner.jpg" alt=""></div>


        <div class="videoContent">
            <div class="container customContainer">
                <div class="row">
                    <div class="col-md-6 videoLefttxt">
                        <div class="videoTxtbg">
                            <h2>You Like<br />
                                Rowing Machines</h2>
                            <h5>Then You’ll Love FlowRowing!</h5>
                            <a href="" class="learnmore">Learn More</a>
                        </div>
                        <div class="bannerSocial">
                            <a href=""><img src="assets/images/fb.png" alt="" /></a>
                            <a href=""><img src="assets/images/linkdin.png" alt="" /></a>
                            <a href=""><img src="assets/images/insta.png" alt="" /></a>
                            <a href=""><img src="assets/images/ytube.png" alt="" /></a>
                            <a href=""><img src="assets/images/tiktok.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-6 videoPlay">
                        <div class="play-bt"></div>
                        <div class="pause-bt" style="display:none;"></div>
                        <!--
<div class="mute-bt"></div>
<div class="stop-bt"></div>
-->
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="ourProduct">
    <div class="container customContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="commonHeading">
                    <h2>Our Products</h2>
                    <p>Quisque ultricies ante non elementum mollis est nisi facilisis elit non faucibus nibh massa.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="productBlock">
                    <a href=""><img src="assets/images/prd1.png" alt="" /></a>
                    <p>FlowRow Board for Concept</p>
                    <small>€209.24</small>
                    <a href="" class="addtoCart">Add to Cart</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productBlock">
                    <a href=""><img src="assets/images/prd2.png" alt="" /></a>
                    <p>FlowRow Board for First Degree Fitness</p>
                    <small>€209.24</small>
                    <a href="" class="addtoCart">Add to Cart</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productBlock">
                    <a href=""><img src="assets/images/prd3.png" alt="" /></a>
                    <p>Replacement Kit for FlowRow</p>
                    <small>€209.24</small>
                    <a href="" class="addtoCart">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="viewMore">
                    <a href="">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showroom">
    <div class="container customContainer">
        <div class="row showroomTop">
            <div class="col-md-5">
                <h2>Our<br />
                    Showroom</h2>
            </div>
            <div class="col-md-7">
                <p><span>We will open the first FlowRow store in Baden (Switzerland) on 1st October.</span> In that
                    store we will show and sell rowing machines with the FlowRow Board. We also will have fitness/rowing
                    group classes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="showroomImg">
                    <div class="showImg1"><img src="assets/images/show1.jpg" alt="" /></div>
                    <div class="showImg2"><img src="assets/images/show2.jpg" alt="" /></div>
                    <div class="showImg1"><img src="assets/images/show3.jpg" alt="" /></div>
                </div>
                <div class="viewMore">
                    <a href="">Showroom &amp; Classes</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="videoSlide">
    <div id="videoCarousal" class="owl-carousel owl-theme">
        <div class="item">
            <div class="videoCbg">
                <video id="ban_video" class="tv_video">
                    <source src="assets/images/banner.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="videoCPlay">
                    <div class="play-bt"></div>
                    <div class="pause-bt" style="display:none;"></div>
                </div>
                <div class="videoCtxt">
                    <div class="container customContainer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="videoCtxtInn">
                                    <h3>Row With Us – Get Rowdy</h3>
                                    <a href="">Experience FlowRow</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="videSlidImg"><img src="assets/images/banner.jpg" alt="" /></div>
        </div>
        <div class="item">
            video3
        </div>
        <div class="item">
            video4
        </div>
    </div>

</section>

<section class="flInsight">
    <div class="container customContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="commonHeading">
                    <h2>FlowRow Insights</h2>
                    <p>Quisque ultricies ante non elementum mollis est nisi facilisis elit non faucibus nibh massa. we
                        denounce with righteous.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="flBlock">
                    <a href=""><img src="assets/images/fl1.jpg" alt="" /></a>
                    <div class="flbTxt">
                        <p><span>23 JAN 2021</span><small>By Andreas Pirscher</small></p>
                        <p>Comparison First Degree Rower vs. WaterRower - with FlowRow Boards</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flBlock">
                    <a href=""><img src="assets/images/fl2.jpg" alt="" /></a>
                    <div class="flbTxt">
                        <p><span>23 JAN 2021</span><small>By Andreas Pirscher</small></p>
                        <p>What makes a great rowing technique? </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flBlock">
                    <a href=""><img src="assets/images/fl3.jpg" alt="" /></a>
                    <div class="flbTxt">
                        <p><span>23 JAN 2021</span><small>By Andreas Pirscher</small></p>
                        <p>How to Find Perfect Difficulty Level for your FlowRow Board? </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="viewMore">
                    <a href="">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="downloadApp">
    <div class="container customContainer">
        <div class="row">
            <div class="col-md-6">
                <h2>Download The<br />
                    FloRow App Now!</h2>
                <p class="mb-5">Take your indoor rowing training to the next level.</p>
                <div class="dnldIcn">
                    <a href=""><img src="assets/images/appsmall.png" alt="" /></a>&nbsp;&nbsp;
                    <a href=""><img src="assets/images/playsmall.png" alt="" /></a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/mob.png" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
    <div class="container customContainer">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4 testiTops">
                                <img src="assets/images/testi.jpg" alt="" />
                            </div>
                            <div class="col-md-7 testicontent">
                                <h2>Testimonials</h2>
                                <p class="text-end respQuote"><img src="assets/images/quote.png" alt="" /></p>
                                <p class="mb-5"><span>FlowRow is a perfect gentle full body workout with enjoyable and
                                        noticeable training effect</span>. FlowRow is a very varied training due to the
                                    different choreographies, music and the special core strength part.</p>
                                <p><strong>Sandor Krabichler</strong><br /><small>Greater Zurich Area</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4 testiTops">
                                <img src="assets/images/testi.jpg" alt="" />
                            </div>
                            <div class="col-md-7 testicontent">
                                <h2>Testimonials</h2>
                                <p class="text-end respQuote"><img src="assets/images/quote.png" alt="" /></p>
                                <p class="mb-5"><span>FlowRow is a perfect gentle full body workout with enjoyable and
                                        noticeable training effect</span>. FlowRow is a very varied training due to the
                                    different choreographies, music and the special core strength part.</p>
                                <p><strong>Sandor Krabichler</strong><br /><small>Greater Zurich Area</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="newsletter">
    <div class="container customContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="commonHeading">
                    <h2>Subscribe Our Newsletter</h2>
                    <p>Get more update subscribe our newsletter</p>
                    <div class="newsletterForm">
                        <input type="email" class="form-control" placeholder="Email">
                        <button>Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="newsImg">
                    <div class="niA"><img src="assets/images/nia.jpg" alt="" /></div>
                    <div class="niB"><img src="assets/images/nib.jpg" alt="" /></div>
                    <div class="niC"><img src="assets/images/nic.jpg" alt="" /></div>
                    <div class="niD"><img src="assets/images/nid.jpg" alt="" /></div>
                </div>
            </div>
        </div>
    </div>
</section>